<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
     
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <!--<add key="serviceUrl" value="http://fyp.matthewoneill.com"/>-->
    <add key="serviceUrl" value="http://127.0.0.1:5000"/>

  </appSettings>
    
</configuration>