################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.dmp
/ServerCode/happyTracksGenius.txt
/ServerCode/sadTracksGenius.txt
